<div class="text-light text-center mt-5">
    <h1>Features</h1>
    <!-- Landing Page -->
    <div class="bg-warning bg-opacity-25 p-5 d-flex flex-column align-items-center ">
        <figure class="col-6">
            <img src="./././/src/assets/statics/LandingPage.JPG" alt="" style="width:90%; height:500px">
        </figure>
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>The landing page when the user is not yet logged in.</h2>
        </figcaption>
    </div>
    <!-- Login Page -->
    <div class="bg-primary bg-opacity-25 p-5 d-flex align-items-center">
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>This is the Website's Login Page.</h2>
        </figcaption>

        <figure class="col-6">
            <img src="./././/src/assets/statics/LoginPage.JPG" alt="" style="width:90%; height:500px">
        </figure>
    </div>

    <!-- Logout Confirmation  -->
    <div class="bg-warning bg-opacity-25 p-5 d-flex align-items-center">
        <figure class="col-6">
            <img src="./././/src/assets/statics/LogoutConfirm.JPG" alt="" style="width:90%; height:500px">
        </figure>
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>ALERT NOTIFICATION everytime you logs out.</h2>
        </figcaption>
    </div>
   <!-- Adding Task Forms -->
    <div class="bg-primary bg-opacity-25 p-5 d-flex flex-column align-items-center">
        <figure class="col-6">
            <img src="./././/src/assets/statics/AddTasks.JPG" alt="" style="width:90%; height:500px">
        </figure>

        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>A page for adding TASK!.</h2>
        </figcaption>

    </div>

    <!-- Add Alert  -->
    <div class="bg-warning bg-opacity-25 p-5 d-flex align-items-center">
        <figure class="col-6">
            <img src="./././/src/assets/statics/AddAlert.JPG" alt="" style="width:90%; height:500px">
        </figure>
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>An Alert Notification everytime you add YOUR TASKS!</h2>
        </figcaption>
    </div>

   <!-- No tasks -->
    <div class="bg-primary bg-opacity-25 p-5 d-flex align-items-center">
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>Conditional Rendering for the Tasks if you don't have!</h2>
        </figcaption>

        <figure class="col-6">
            <img src="./././/src/assets/statics/No_Tasks.JPG" alt="" style="width:90%; height:500px">
        </figure>
    </div>

     <!-- With Tasks  -->
     <div class="bg-warning bg-opacity-25 p-5 d-flex flex-column align-items-center">
        <figure class="col-6">
            <img src="./././/src/assets/statics/TaskLists.JPG" alt="" style="width:90%; height:500px">
        </figure>
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>Conditional Rendering for the Tasks you have!</h2>
        </figcaption>
    </div>

     <!-- Update Tasks -->
     <div class="bg-primary bg-opacity-25 p-5 d-flex align-items-center">
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>Same with Add, you can also update your Tasks!</h2>
        </figcaption>

        <figure class="col-6">
            <img src="./././/src/assets/statics/UpdateTask.JPG" alt="" style="width:90%; height:500px">
        </figure>
    </div>

    <!-- Updated Task  -->
    <div class="bg-warning bg-opacity-25 p-5 d-flex align-items-center">
        <figure class="col-6">
            <img src="./././/src/assets/statics/TaskLists.JPG" alt="" style="width:90%; height:500px">
        </figure>
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>Conditional Rendering for the Tasks you have!</h2>
        </figcaption>
    </div>

     <!-- Log out -->
     <div class="bg-primary bg-opacity-25 p-5 d-flex align-items-center">
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>Sometimes you have something to do, and you can LOGOUT!</h2>
        </figcaption>

        <figure class="col-6">
            <img src="./././/src/assets/statics/LogoutConfirm.JPG" alt="" style="width:90%; height:500px">
        </figure>
    </div>

    <!-- Register Task  -->
    <div class="bg-warning bg-opacity-25 p-5 d-flex flex-column align-items-center">
        <figure class="col-6">
            <img src="./././/src/assets/statics/RegisterAccount.JPG" alt="" style="width:90%; height:500px">
        </figure>
        <figcaption class="bg-dark bg-opacity-25 p-5 col-6 rounded">
            <h2>What are you waiting for? <a routerLink="/register">REGISTER NOW</a></h2>
        </figcaption>
    </div>
</div>