<div class="card p-3 m-5 w-100 bg-success text-center">
    <div class="card-body">
        <h3 class="card-title">{{ completedTask.title }}</h3>
        <p class="card-text">{{ completedTask.description }}
        </p>
    </div>

    <div class="d-flex">
        <button class="btn btn-primary w-100 mt-3 bg-opacity-25" (click)="redoTask()">Redo</button>
        <button class="btn btn-danger w-100 mt-3 ms-3 bg-opacity-25" (click)="deleteTaskCompleted(completedTask)">Delete</button>
    </div>
</div>
